name: js-action-test-build
on:
  push:
    branches:
      - master
jobs:
  publish-github:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@master

      - name: Setup Node.js 12.x
        uses: actions/setup-node@master

      - name: Install Dependencies
        run: npm ci

      - name: Semantic Release
        run: npm run semantic-release
